body
{
    margin: 0;
    padding: 0;
    
}

.conteudo
{

}

h1
{
    color: white;
    background-color: rgb(240, 174, 248); 
    margin: 0;
    padding: 20px;
    text-align: center;
}

li
{
    color : #e175f7;
}

img
{
    width: 500px;
    border: 8px solid rgb(237, 138, 250);
    border-radius: 10px;
}

.centro
{
    text-align: center;
}
